<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  
  <display-name>BitPay</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>connection</display-name>
    <servlet-name>connection</servlet-name>
    <servlet-class>Server.connection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>connection</servlet-name>
    <url-pattern>/connection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>b</display-name>
    <servlet-name>b</servlet-name>
    <servlet-class>BitPay.b</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>b</servlet-name>
    <url-pattern>/b</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>BitPay.Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>BitPay.Servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WalletServlet</display-name>
    <servlet-name>WalletServlet</servlet-name>
    <servlet-class>BitPay.Servlet.WalletServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WalletServlet</servlet-name>
    <url-pattern>/WalletServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendReceiveServlet</display-name>
    <servlet-name>SendReceiveServlet</servlet-name>
    <servlet-class>BitPay.Servlet.SendReceiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendReceiveServlet</servlet-name>
    <url-pattern>/SendReceiveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>BitPay.Servlet.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>BitPay.Servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFundServlet</display-name>
    <servlet-name>AddFundServlet</servlet-name>
    <servlet-class>BitPay.Servlet.Wallet.AddFundServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFundServlet</servlet-name>
    <url-pattern>/AddFundServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WalletFundServlet</display-name>
    <servlet-name>WalletFundServlet</servlet-name>
    <servlet-class>BitPay.Servlet.Wallet.WalletFundServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WalletFundServlet</servlet-name>
    <url-pattern>/WalletFundServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EntryServlet</display-name>
    <servlet-name>EntryServlet</servlet-name>
    <servlet-class>BitPay.Servlet.EntryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EntryServlet</servlet-name>
    <url-pattern>/EntryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMoney</display-name>
    <servlet-name>SendMoney</servlet-name>
    <servlet-class>BitPay.Servlet.Send_Request_Money.SendMoney</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMoney</servlet-name>
    <url-pattern>/SendMoney</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMoneyServlet</display-name>
    <servlet-name>SendMoneyServlet</servlet-name>
    <servlet-class>BitPay.Servlet.Send_Request_Money.SendMoneyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMoneyServlet</servlet-name>
    <url-pattern>/SendMoneyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMoneyEntry</display-name>
    <servlet-name>SendMoneyEntry</servlet-name>
    <servlet-class>BitPay.Servlet.Send_Request_Money.SendMoneyEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMoneyEntry</servlet-name>
    <url-pattern>/SendMoneyEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionHistoryEntry</display-name>
    <servlet-name>TransactionHistoryEntry</servlet-name>
    <servlet-class>BitPay.Servlet.Transactions.TransactionHistoryEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionHistoryEntry</servlet-name>
    <url-pattern>/TransactionHistoryEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WalletEntry</display-name>
    <servlet-name>WalletEntry</servlet-name>
    <servlet-class>BitPay.Servlet.Wallet.WalletEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WalletEntry</servlet-name>
    <url-pattern>/WalletEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileEntry</display-name>
    <servlet-name>ProfileEntry</servlet-name>
    <servlet-class>BitPay.Servlet.Profile.ProfileEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileEntry</servlet-name>
    <url-pattern>/ProfileEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendRequestServlet</display-name>
    <servlet-name>SendRequestServlet</servlet-name>
    <servlet-class>BitPay.Servlet.Send_Request_Money.SendRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendRequestServlet</servlet-name>
    <url-pattern>/SendRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestEntry</display-name>
    <servlet-name>RequestEntry</servlet-name>
    <servlet-class>BitPay.Servlet.Request.RequestEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestEntry</servlet-name>
    <url-pattern>/RequestEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotificationEntry</display-name>
    <servlet-name>NotificationEntry</servlet-name>
    <servlet-class>BitPay.Servlet.Notification.NotificationEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotificationEntry</servlet-name>
    <url-pattern>/NotificationEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CloseToast</display-name>
    <servlet-name>CloseToast</servlet-name>
    <servlet-class>BitPay.Servlet.Notification.CloseToast</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseToast</servlet-name>
    <url-pattern>/CloseToast</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexEntry</display-name>
    <servlet-name>IndexEntry</servlet-name>
    <servlet-class>BitPay.Servlet.IndexEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexEntry</servlet-name>
    <url-pattern>/IndexEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetReceiverName</display-name>
    <servlet-name>GetReceiverName</servlet-name>
    <servlet-class>BitPay.Servlet.Verify.GetReceiverName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetReceiverName</servlet-name>
    <url-pattern>/GetReceiverName</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>RequestDeclineServlet</display-name>
    <servlet-name>RequestDeclineServlet</servlet-name>
    <servlet-class>BitPay.Servlet.Request.RequestDeclineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDeclineServlet</servlet-name>
    <url-pattern>/RequestDeclineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RefreshAllServletEntry</display-name>
    <servlet-name>RefreshAllServletEntry</servlet-name>
    <servlet-class>BitPay.Servlet.RefreshAllServletEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefreshAllServletEntry</servlet-name>
    <url-pattern>/RefreshAllServletEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateOrderServlet</display-name>
    <servlet-name>CreateOrderServlet</servlet-name>
    <servlet-class>BitPay.Servlet.Wallet.CreateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOrderServlet</servlet-name>
    <url-pattern>/CreateOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyPaymentServlet</display-name>
    <servlet-name>VerifyPaymentServlet</servlet-name>
    <servlet-class>BitPay.Servlet.Wallet.VerifyPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyPaymentServlet</servlet-name>
    <url-pattern>/VerifyPaymentServlet</url-pattern>
  </servlet-mapping>
  
</web-app>
